.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 16px;
}

.cardArea {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}
